<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="base :: deochead"></head>
<nav th:replace="base :: nav"></nav>
<body>

<form method="post">
	<label>Items left in cart:
		<select name="cartSelect">
  			<option th:each="item : ${cart}" th:text="${item.name}" th:value="${item.plu}"></option> 
		</select>
		<select name ="actionSelect">
			<option>Scan item/Weigh item</option>
			<option>Bag item</option>
			<option>Pay now</option>
		</select>
	</label>
</form>

<input type="submit" name="action" value="Pay now" /> 

<br/>

Items bagged:
<table>
		<tbody>
			<tr th:each = "item : ${bagged}" th:text = "${item.name}"></tr>
		</tbody>
</table>

<br/>

<h3>Current Order: </h3>
<table>
	<tr th:each="item : ${trans}">
		<td th:text="${item.name}"></td>
		<td th:text="${item.price}"></td>
	</tr>
</table>

</body>

<footer th:replace="base :: docfoot"></footer>
</html>