<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="base :: deochead"></head>
<nav th:replace="base :: nav"></nav>
<body>

<form method="post">
	<label> Current cart:
		<select name="cart">
  			<option th:each="item : ${cart}" th:text="${item.name}"></option> 
		</select>
	</label>
	<input type="submit" name="action" value="Scan item"/>
	<input type="submit" name="action" value="Bag item"/>
	<input type="submit" name="action" value="Weigh item"/>
	<br/>
	<input type="submit" name="action" value="Pay now"/>
</form>

<br/>
<h3>Current order: </h3>
<table>
	<tr th:each="item : ${trans.lst}">
		<td th:text="${item.name}"></td> 
	<tr>
		<td th:text="${trans.htotal}"></td>
		<td th:text="${trans.ltotal}"></td>
		<td  th:text="${trans.subtotal}"></td>
	</tr>
	<tr>
		<td th:text="${trans.total}"></td>
	</tr>
</table>

</body>

<footer th:replace="base :: docfoot"></footer>
</html>