<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="base :: deochead"></head>
<nav th:replace="base :: nav"></nav>
<body>

<form method="post">
	<label> Current cart:
		<select name="cartSelect">
			<option></option>
  			<option th:each="item : ${cart}" th:text="${item.name}" th:value="${item.plu}"></option> 
		</select>
	</label>
	<input type="submit" name="action" value="Scan item"/>
	<input type="submit" name="action" value="Bag item"/>
	<input type="submit" name="action" value="Weigh item"/>
	<br/>
	<input type="submit" name="action" value="Pay now"/>
</form>

<br/>

<h3>Current Order: </h3>
<table>
	<tr th:each="item : ${trans}">
		<td th:text="${item.name}"></td>
		<td th:text="${item.price}"></td>
	</tr>
</table>

</body>

<footer th:replace="base :: docfoot"></footer>
</html>