<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="base :: deochead"></head>
<nav th:replace="base :: nav"></nav>
<body>

<form method="post">
<label>Choose an item from the list to add to the cart:</label>
<input list="items" name="items" />
<datalist id="items" th:each="item : ${items}">
<option th:value="${item.name}"></option>
</datalist>
<button type="submit">Add item to cart</button>
</form>



<h3>Current cart:</h3>
<select name="select" th:each="item : ${cart}">
  <option th:value="${item.name}"></option> 
</select>

</body>

<footer th:replace="base :: docfoot"></footer>
</html>