<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="base :: deochead"></head>
<nav th:replace="base :: nav"></nav>
<body>

Type in the name of the item you wish to add:
<form action="AddItem">
<input list="products">
<datalist id="products" th:each="product :${list}">
<option th:value="${product.getName()}">
</datalist>
<button>Add Item to Cart</button>
</form>


Current Cart:

<table>
<tr th:each="product :${cart}">
<td th:text="${product.getName()}"></td>
</tr>
</table>

<br></br>
<form action="checkout">
<button>Checkout</button>
</form>

</body>

<footer th:replace="base :: docfoot"></footer>
</html>