<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="base :: deochead"></head>
<nav th:replace="base :: nav"></nav>
<body>

<form method="post">
<label>Type in the name of the item you wish to add:
<input name="product" type="text" required="required"></input><button type="submit">Add item to cart</button>
</label>
</form>

<h3>Current cart:</h3>
<table th:each="item : ${cart}">
	<tr>
		<td th:text="${item.name}"></td>
	</tr>
</table> 


<form th:replace="base :: removeItem"></form>
<form th:replace="base :: checkout"></form>

</body>

<footer th:replace="base :: docfoot"></footer>
</html>